flows/Clone_Comparison_Plans-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>All_in_one</name>
        <label>All in one</label>
        <locationX>799</locationX>
        <locationY>482</locationY>
        <assignmentItems>
            <assignToReference>SOCNewCompRec</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewCompRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Extract_1_by_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_data_into_new_a_SObject_Variable</name>
        <label>Assign data into new a SObject Variable</label>
        <locationX>799</locationX>
        <locationY>326</locationY>
        <assignmentItems>
            <assignToReference>NewCompRec.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarT_OpportunityID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCompRec.Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarT_NewQuoteID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCompRec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarT_AccountID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCompRec.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sov_OLI.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCompRec.Coverage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sov_OLI.Coverage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCompRec.Carrier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sov_OLI.Carrier__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCompRec.RateEffectiveDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sov_OLI.RateEffectiveDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCompRec.EmployerContributionF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sov_OLI.EmployerContributionF__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCompRec.RateF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sov_OLI.RateF__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCompRec.EmployeeCountF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sov_OLI.EmployeeCountF__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCompRec.Recent12F__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sov_OLI.Recent12F__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCompRec.Prior24F__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sov_OLI.Prior24F__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCompRec.EmployerContributionES__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sov_OLI.EmployerContributionES__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCompRec.RateES__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sov_OLI.RateES__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCompRec.EmployeeCountES__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sov_OLI.EmployeeCountES__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCompRec.Recent12ES__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sov_OLI.Recent12ES__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCompRec.Prior24ES__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sov_OLI.Prior24ES__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCompRec.EmployerContributionEC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sov_OLI.EmployerContributionEC__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCompRec.RateEC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sov_OLI.RateEC__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCompRec.EmployeeCountEC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sov_OLI.EmployeeCountEC__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCompRec.Recent12EC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sov_OLI.Recent12EC__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCompRec.Prior24EC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sov_OLI.Prior24EC__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCompRec.EmployerContributionS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sov_OLI.EmployerContributionS__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCompRec.EmployeeCountS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sov_OLI.EmployeeCountS__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCompRec.RateS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sov_OLI.RateS__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCompRec.Recent12S__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sov_OLI.Recent12S__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCompRec.Prior24S__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sov_OLI.Prior24S__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCompRec.Year1Increase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sov_OLI.Year1Increase__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCompRec.Year2Increase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sov_OLI.Year2Increase__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCompRec.Year3Increase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sov_OLI.Year3Increase__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_in_one</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_SOC_Size</name>
        <label>Check SOC Size</label>
        <locationX>566</locationX>
        <locationY>246</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SObjectCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Extract_1_by_1</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <description>Clones Comparison Plans and associates them to the new cloned Quote</description>
    <interviewLabel>Clone Comparison Plans {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clone Comparison Plans</label>
    <loops>
        <name>Extract_1_by_1</name>
        <label>Extract 1 by 1</label>
        <locationX>564</locationX>
        <locationY>400</locationY>
        <assignNextValueToReference>Sov_OLI</assignNextValueToReference>
        <collectionReference>SObjectCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_data_into_new_a_SObject_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_New_CompRecord</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_CompRecord</name>
        <label>Create New CompRecord</label>
        <locationX>565</locationX>
        <locationY>566</locationY>
        <inputReference>SOCNewCompRec</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Comparison_Plan_Lookup</name>
        <label>Comparison Plan Lookup</label>
        <locationX>567</locationX>
        <locationY>117</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_SOC_Size</targetReference>
        </connector>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarT_OldQuoteID</elementReference>
            </value>
        </filters>
        <object>ComparisonPlan__c</object>
        <outputReference>SObjectCollection</outputReference>
        <queriedFields>Quote__c</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Coverage__c</queriedFields>
        <queriedFields>Carrier__c</queriedFields>
        <queriedFields>RateEffectiveDate__c</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Year1Increase__c</queriedFields>
        <queriedFields>Year2Increase__c</queriedFields>
        <queriedFields>Year3Increase__c</queriedFields>
        <queriedFields>EmployerContributionS__c</queriedFields>
        <queriedFields>EmployeeCountS__c</queriedFields>
        <queriedFields>RateS__c</queriedFields>
        <queriedFields>Recent12S__c</queriedFields>
        <queriedFields>Prior24S__c</queriedFields>
        <queriedFields>EmployerContributionEC__c</queriedFields>
        <queriedFields>RateEC__c</queriedFields>
        <queriedFields>EmployeeCountEC__c</queriedFields>
        <queriedFields>Recent12EC__c</queriedFields>
        <queriedFields>Prior24EC__c</queriedFields>
        <queriedFields>EmployerContributionES__c</queriedFields>
        <queriedFields>RateES__c</queriedFields>
        <queriedFields>EmployeeCountES__c</queriedFields>
        <queriedFields>Recent12ES__c</queriedFields>
        <queriedFields>Prior24ES__c</queriedFields>
        <queriedFields>EmployerContributionF__c</queriedFields>
        <queriedFields>RateF__c</queriedFields>
        <queriedFields>EmployeeCountF__c</queriedFields>
        <queriedFields>Recent12F__c</queriedFields>
        <queriedFields>Prior24F__c</queriedFields>
    </recordLookups>
    <startElementReference>Comparison_Plan_Lookup</startElementReference>
    <variables>
        <name>NewCompRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ComparisonPlan__c</objectType>
    </variables>
    <variables>
        <description>fasdf</description>
        <name>SObjectCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ComparisonPlan__c</objectType>
    </variables>
    <variables>
        <name>SOCNewCompRec</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ComparisonPlan__c</objectType>
    </variables>
    <variables>
        <name>Sov_OLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ComparisonPlan__c</objectType>
    </variables>
    <variables>
        <name>VarT_AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarT_NewQuoteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarT_OldQuoteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarT_OpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
