flows/Task_NPS_auto_task_for-15.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>NPS_Survey_Alert</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_13_A2</name>
        <label>Email Alert</label>
        <locationX>1300</locationX>
        <locationY>300</locationY>
        <actionName>NPS_Survey_Results__c.NPS_Survey_Alert</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>NPS_Survey_Alert</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A2</name>
        <label>Email Alert</label>
        <locationX>100</locationX>
        <locationY>300</locationY>
        <actionName>NPS_Survey_Results__c.NPS_Survey_Alert</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>NPS_Survey_Alert</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_5_A2</name>
        <label>Email Alert</label>
        <locationX>500</locationX>
        <locationY>300</locationY>
        <actionName>NPS_Survey_Results__c.NPS_Survey_Alert</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>NPS_Survey_Alert</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_9_A2</name>
        <label>Email Alert</label>
        <locationX>900</locationX>
        <locationY>300</locationY>
        <actionName>NPS_Survey_Results__c.NPS_Survey_Alert</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.NPS_Score__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>6.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Account_Manager__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>ESCALATION</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Escalation - Detractor</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision12</name>
        <label>myDecision12</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_13</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.NPS_Score__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>9.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_13_A1</targetReference>
            </connector>
            <label>Promoter</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.NPS_Score__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>6.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>Detractor</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision8</name>
        <label>myDecision8</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision12</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.NPS_Score__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>9.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Account_Manager__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>ESCALATION</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_A1</targetReference>
            </connector>
            <label>Escalation - Promoter</label>
        </rules>
    </decisions>
    <description>Auto task for scores 6 and under OR greater/equal to 9</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>today() + 1</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_10_myRule_9_A1_9124958090</name>
        <dataType>Date</dataType>
        <expression>today() + 1</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&quot;On a scale of 0-10, how likely are you to recommend ProService to a business associate?&quot; &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
TEXT([NPS_Survey_Results__c].NPS_Score__c) &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;

&quot;What is the reason for your score?&quot; &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
[NPS_Survey_Results__c].NPS_Reason__c &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;

&quot;Account Manager: &quot; &amp; [NPS_Survey_Results__c].Account_Manager__c &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;

&quot;Contact Type: &quot; &amp; [NPS_Survey_Results__c].Contact_Type__c &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;

&quot;RecipientEmail: &quot; &amp; [NPS_Survey_Results__c].Contact_Email__c &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;

&quot;Recipient Name: &quot; &amp; [NPS_Survey_Results__c].Contact_Name__c &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;

&quot;Team Name: &quot; &amp; [NPS_Survey_Results__c].Team__c &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;

&quot;Are there any people or experiences you would like to tell us about?&quot; &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
[NPS_Survey_Results__c].People_Experiences__c &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;

&quot;Sales Process Score:&quot; &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
TEXT([NPS_Survey_Results__c].Sales_Process_Score__c ) &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;

&quot;Sales Process Reason:&quot; &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
[NPS_Survey_Results__c].Sales_Process_Reason__c  &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_11_myRule_9_A1_8311280708</name>
        <dataType>String</dataType>
        <expression>&quot;On a scale of 0-10, how likely are you to recommend ProService to a business associate?&quot; &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
TEXT({!myVariable_current.NPS_Score__c}) &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;

&quot;What is the reason for your score?&quot; &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
{!myVariable_current.NPS_Reason__c} &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;

&quot;Account Manager: &quot; &amp; {!myVariable_current.Account_Manager__c} &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;

&quot;Contact Type: &quot; &amp; {!myVariable_current.Contact_Type__c} &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;

&quot;RecipientEmail: &quot; &amp; {!myVariable_current.Contact_Email__c} &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;

&quot;Recipient Name: &quot; &amp; {!myVariable_current.Contact_Name__c} &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;

&quot;Team Name: &quot; &amp; {!myVariable_current.Team__c} &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;

&quot;Are there any people or experiences you would like to tell us about?&quot; &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
{!myVariable_current.People_Experiences__c} &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;

&quot;Sales Process Score:&quot; &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
TEXT({!myVariable_current.Sales_Process_Score__c} ) &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;

&quot;Sales Process Reason:&quot; &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
{!myVariable_current.Sales_Process_Reason__c}  &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>today()+1</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_14_myRule_13_A1_6120517664</name>
        <dataType>Date</dataType>
        <expression>today()+1</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&quot;On a scale of 0-10, how likely are you to recommend ProService to a business associate?&quot; &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
TEXT([NPS_Survey_Results__c].NPS_Score__c) &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;

&quot;What is the reason for your score?&quot; &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
[NPS_Survey_Results__c].NPS_Reason__c &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;

&quot;Account Manager: &quot; &amp; [NPS_Survey_Results__c].Account_Manager__c &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;

&quot;Contact Type: &quot; &amp; [NPS_Survey_Results__c].Contact_Type__c &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;

&quot;RecipientEmail: &quot; &amp; [NPS_Survey_Results__c].Contact_Email__c &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;

&quot;Recipient Name: &quot; &amp; [NPS_Survey_Results__c].Contact_Name__c &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;

&quot;Team Name: &quot; &amp; [NPS_Survey_Results__c].Team__c &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;

&quot;Are there any people or experiences you would like to tell us about?&quot; &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
[NPS_Survey_Results__c].People_Experiences__c &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;

&quot;Sales Process Score:&quot; &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
TEXT([NPS_Survey_Results__c].Sales_Process_Score__c ) &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;

&quot;Sales Process Reason:&quot; &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
[NPS_Survey_Results__c].Sales_Process_Reason__c  &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_15_myRule_13_A1_7621322062</name>
        <dataType>String</dataType>
        <expression>&quot;On a scale of 0-10, how likely are you to recommend ProService to a business associate?&quot; &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
TEXT({!myVariable_current.NPS_Score__c}) &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;

&quot;What is the reason for your score?&quot; &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
{!myVariable_current.NPS_Reason__c} &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;

&quot;Account Manager: &quot; &amp; {!myVariable_current.Account_Manager__c} &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;

&quot;Contact Type: &quot; &amp; {!myVariable_current.Contact_Type__c} &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;

&quot;RecipientEmail: &quot; &amp; {!myVariable_current.Contact_Email__c} &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;

&quot;Recipient Name: &quot; &amp; {!myVariable_current.Contact_Name__c} &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;

&quot;Team Name: &quot; &amp; {!myVariable_current.Team__c} &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;

&quot;Are there any people or experiences you would like to tell us about?&quot; &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
{!myVariable_current.People_Experiences__c} &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;

&quot;Sales Process Score:&quot; &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
TEXT({!myVariable_current.Sales_Process_Score__c} ) &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;

&quot;Sales Process Reason:&quot; &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
{!myVariable_current.Sales_Process_Reason__c}  &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>today()+1</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_1547577712</name>
        <dataType>Date</dataType>
        <expression>today()+1</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&quot;On a scale of 0-10, how likely are you to recommend ProService to a business associate?&quot; &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
TEXT([NPS_Survey_Results__c].NPS_Score__c) &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;

&quot;What is the reason for your score?&quot; &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
[NPS_Survey_Results__c].NPS_Reason__c &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;

&quot;Account Manager: &quot; &amp; [NPS_Survey_Results__c].Account_Manager__c &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;

&quot;Contact Type: &quot; &amp; [NPS_Survey_Results__c].Contact_Type__c &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;

&quot;RecipientEmail: &quot; &amp; [NPS_Survey_Results__c].Contact_Email__c &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;

&quot;Recipient Name: &quot; &amp; [NPS_Survey_Results__c].Contact_Name__c &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;

&quot;Team Name: &quot; &amp; [NPS_Survey_Results__c].Team__c &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;

&quot;Are there any people or experiences you would like to tell us about?&quot; &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
[NPS_Survey_Results__c].People_Experiences__c &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;

&quot;Sales Process Score:&quot; &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
TEXT([NPS_Survey_Results__c].Sales_Process_Score__c ) &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;

&quot;Sales Process Reason:&quot; &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
[NPS_Survey_Results__c].Sales_Process_Reason__c  &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_3_myRule_1_A1_5662669154</name>
        <dataType>String</dataType>
        <expression>&quot;On a scale of 0-10, how likely are you to recommend ProService to a business associate?&quot; &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
TEXT({!myVariable_current.NPS_Score__c}) &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;

&quot;What is the reason for your score?&quot; &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
{!myVariable_current.NPS_Reason__c} &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;

&quot;Account Manager: &quot; &amp; {!myVariable_current.Account_Manager__c} &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;

&quot;Contact Type: &quot; &amp; {!myVariable_current.Contact_Type__c} &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;

&quot;RecipientEmail: &quot; &amp; {!myVariable_current.Contact_Email__c} &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;

&quot;Recipient Name: &quot; &amp; {!myVariable_current.Contact_Name__c} &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;

&quot;Team Name: &quot; &amp; {!myVariable_current.Team__c} &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;

&quot;Are there any people or experiences you would like to tell us about?&quot; &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
{!myVariable_current.People_Experiences__c} &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;

&quot;Sales Process Score:&quot; &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
TEXT({!myVariable_current.Sales_Process_Score__c} ) &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;

&quot;Sales Process Reason:&quot; &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
{!myVariable_current.Sales_Process_Reason__c}  &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>today()+1</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_6_myRule_5_A1_3799174345</name>
        <dataType>Date</dataType>
        <expression>today()+1</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&quot;On a scale of 0-10, how likely are you to recommend ProService to a business associate?&quot; &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
TEXT([NPS_Survey_Results__c].NPS_Score__c) &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;

&quot;What is the reason for your score?&quot; &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
[NPS_Survey_Results__c].NPS_Reason__c &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;

&quot;Account Manager: &quot; &amp; [NPS_Survey_Results__c].Account_Manager__c &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;

&quot;Contact Type: &quot; &amp; [NPS_Survey_Results__c].Contact_Type__c &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;

&quot;RecipientEmail: &quot; &amp; [NPS_Survey_Results__c].Contact_Email__c &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;

&quot;Recipient Name: &quot; &amp; [NPS_Survey_Results__c].Contact_Name__c &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;

&quot;Team Name: &quot; &amp; [NPS_Survey_Results__c].Team__c &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;

&quot;Are there any people or experiences you would like to tell us about?&quot; &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
[NPS_Survey_Results__c].People_Experiences__c &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;

&quot;Sales Process Score:&quot; &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
TEXT([NPS_Survey_Results__c].Sales_Process_Score__c ) &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;

&quot;Sales Process Reason:&quot; &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
[NPS_Survey_Results__c].Sales_Process_Reason__c  &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_7_myRule_5_A1_0569734810</name>
        <dataType>String</dataType>
        <expression>&quot;On a scale of 0-10, how likely are you to recommend ProService to a business associate?&quot; &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
TEXT({!myVariable_current.NPS_Score__c}) &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;

&quot;What is the reason for your score?&quot; &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
{!myVariable_current.NPS_Reason__c} &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;

&quot;Account Manager: &quot; &amp; {!myVariable_current.Account_Manager__c} &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;

&quot;Contact Type: &quot; &amp; {!myVariable_current.Contact_Type__c} &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;

&quot;RecipientEmail: &quot; &amp; {!myVariable_current.Contact_Email__c} &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;

&quot;Recipient Name: &quot; &amp; {!myVariable_current.Contact_Name__c} &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;

&quot;Team Name: &quot; &amp; {!myVariable_current.Team__c} &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;

&quot;Are there any people or experiences you would like to tell us about?&quot; &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
{!myVariable_current.People_Experiences__c} &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;

&quot;Sales Process Score:&quot; &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
TEXT({!myVariable_current.Sales_Process_Score__c} ) &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;

&quot;Sales Process Reason:&quot; &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
{!myVariable_current.Sales_Process_Reason__c}  &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;) &amp;
SUBSTITUTE($Label.NewLine,&quot;-&quot;, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Task_NPS_auto_task_for-15_InterviewLabel</interviewLabel>
    <label>Task - NPS auto task for Detractor and Promoter</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>NPS_Survey_Results__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordCreates>
        <name>myRule_13_A1</name>
        <label>Create Task</label>
        <locationX>1300</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_13_A2</targetReference>
        </connector>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Due Date Only</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ActivityDate</field>
            <value>
                <elementReference>formula_14_myRule_13_A1_6120517664</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Category</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Category__c</field>
            <value>
                <stringValue>Account Management</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Description</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Description</field>
            <value>
                <elementReference>formula_15_myRule_13_A1_7621322062</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Assigned To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <elementReference>myVariable_current.Client__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Priority</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Priority</field>
            <value>
                <stringValue>1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Sub-Category 1</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Sub_Category_1__c</field>
            <value>
                <stringValue>VOC Item</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Subject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>Subject</field>
            <value>
                <stringValue>NPS Promoter Follow Up</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Type</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Type</field>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Related To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>APXTConga4__Composer_QuickMerge__c;APXTConga4__Conga_Email_Staging__c;APXTConga4__Conga_Email_Template__c;Account;Account_Group__c;Asset;AssetRelationship;CC_Notes__c;CHR_CSR_Services__c;Campaign;Case;Client_Action_Plan__c;Client_Referrals__c;Contract;Error_Reporting__c;Implementation__c;NSF__c;Opportunity;Order;Product2;Referral_Tracker__c;SBQQ__QuoteDocument__c;SBQQ__QuoteTerm__c;SBQQ__Quote__c;SBQQ__WebQuote__c;Safety__c;Solution;Solutions__c;VOC__c</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>WhatId</field>
            <value>
                <elementReference>myVariable_current.Client__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>myRule_1_A1</name>
        <label>Create Task</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Due Date Only</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ActivityDate</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_1547577712</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Category</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Category__c</field>
            <value>
                <stringValue>Account Management</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Description</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Description</field>
            <value>
                <elementReference>formula_3_myRule_1_A1_5662669154</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Assigned To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <elementReference>myVariable_current.Client__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Priority</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Priority</field>
            <value>
                <stringValue>1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Sub-Category 1</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Sub_Category_1__c</field>
            <value>
                <stringValue>VOC Item</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Subject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>Subject</field>
            <value>
                <stringValue>NPS Detractor Follow Up</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Type</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Type</field>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Related To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>WhatId</field>
            <value>
                <elementReference>myVariable_current.Client__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>myRule_5_A1</name>
        <label>Create Task</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_5_A2</targetReference>
        </connector>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Due Date Only</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ActivityDate</field>
            <value>
                <elementReference>formula_6_myRule_5_A1_3799174345</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Category</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Category__c</field>
            <value>
                <stringValue>Account Management</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Description</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Description</field>
            <value>
                <elementReference>formula_7_myRule_5_A1_0569734810</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Assigned To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <elementReference>myVariable_current.Client__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Priority</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Priority</field>
            <value>
                <stringValue>1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Sub-Category 1</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Sub_Category_1__c</field>
            <value>
                <stringValue>VOC Item</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Subject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>Subject</field>
            <value>
                <stringValue>NPS Detractor Follow Up</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Type</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Type</field>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Related To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>APXTConga4__Composer_QuickMerge__c;APXTConga4__Conga_Email_Staging__c;APXTConga4__Conga_Email_Template__c;Account;Account_Group__c;Asset;AssetRelationship;CC_Notes__c;CHR_CSR_Services__c;Campaign;Case;Client_Action_Plan__c;Client_Referrals__c;Contract;Error_Reporting__c;Implementation__c;NSF__c;Opportunity;Order;Product2;Referral_Tracker__c;SBQQ__QuoteDocument__c;SBQQ__QuoteTerm__c;SBQQ__Quote__c;SBQQ__WebQuote__c;Safety__c;Solution;Solutions__c;VOC__c</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>WhatId</field>
            <value>
                <elementReference>myVariable_current.Client__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>myRule_9_A1</name>
        <label>Create Task</label>
        <locationX>900</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_9_A2</targetReference>
        </connector>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Due Date Only</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ActivityDate</field>
            <value>
                <elementReference>formula_10_myRule_9_A1_9124958090</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Category</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Category__c</field>
            <value>
                <stringValue>Account Management</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Description</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Description</field>
            <value>
                <elementReference>formula_11_myRule_9_A1_8311280708</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Assigned To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <elementReference>myVariable_current.Client__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Priority</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Priority</field>
            <value>
                <stringValue>1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Sub-Category 1</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Sub_Category_1__c</field>
            <value>
                <stringValue>VOC Item</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Subject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>Subject</field>
            <value>
                <stringValue>NPS Promoter Follow Up</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Type</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Type</field>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Related To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>WhatId</field>
            <value>
                <elementReference>myVariable_current.Client__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>NPS_Survey_Results__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>NPS_Survey_Results__c</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
